<template>
  <div v-if="user">
    <h1 class="title">Profile</h1>
    <p><b>Username:</b> {{ user.username }}</p>
    <p><b>Email:</b> {{ user.email }}</p>
    <p><b>Phone:</b> {{ user.phone_number }}</p>
    <b-button expanded type='is-danger' @click="logout">
      Logout
    </b-button>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  computed: {
    ...mapState('auth', ['user'])
  },
  methods: {
    ...mapActions('auth', ['logout'])
  }
}
</script>
