<template>
  <section class="section">
    <confirm-sign-up />
  </section>
</template>

<script>
import ConfirmSignUp from '~/components/auth/ConfirmSignUp'

export default {
  name: 'ConfirmSignUpPage',

  components: {
    ConfirmSignUp
  }
}
</script>
