<template>
  <section class="section">
    <forgot-password />
  </section>
</template>

<script>
import ForgotPassword from '~/components/auth/ForgotPassword'

export default {
  name: 'ForgotPasswordPage',

  components: {
    ForgotPassword
  }
}
</script>
