<template>
  <section class="section">
    <forgot-password-submit />
  </section>
</template>

<script>
import ForgotPasswordSubmit from '~/components/auth/ForgotPasswordSubmit'

export default {
  name: 'ForgotPasswordSubmitPage',

  components: {
    ForgotPasswordSubmit
  }
}
</script>
