<template>
  <section class="section">
    <login />
  </section>
</template>

<script>
import Login from '~/components/auth/Login'

export default {
  name: 'LoginPage',

  components: {
    Login
  }
}
</script>
