<template>
  <section class="section">
    <sign-up />
  </section>
</template>

<script>
import SignUp from '~/components/auth/SignUp'

export default {
  name: 'SignUpPage',

  components: {
    SignUp
  }
}
</script>
