<template>
  <div>
    <nav
      class="navbar header has-shadow is-primary"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a
          class="navbar-item"
          href="/"
        >
          <img
            src="~assets/buefy.png"
            alt="Buefy"
            height="28"
          >
        </a>
        <b-navbar-item tag="nuxt-link" to="/">
          <span>
            <b-icon
              icon="home"
              size="is-small">
            </b-icon>
            Home
          </span>
        </b-navbar-item>
        <b-navbar-item tag="nuxt-link" to="/profile">
          <span>
            <b-icon
              icon="account"
              size="is-small">
            </b-icon>
            Profile
          </span>
        </b-navbar-item>
        <b-navbar-item tag="nuxt-link" to="/protected">
          <span>
            <b-icon
              icon="file"
              size="is-small">
            </b-icon>
            Protected
          </span>
        </b-navbar-item>
      </div>
    </nav>

    <div class="container">
      <nuxt />
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      items: [
        {
          title: 'Home',
          icon: 'home',
          to: { name: 'index' }
        },
        {
          title: 'Inspire',
          icon: 'lightbulb',
          to: { name: 'inspire' }
        }
      ]
    }
  }
}
</script>
