<template>
  <section class="section">
    <public />
  </section>
</template>

<script>
import Public from '~/components/Public'

export default {
  name: 'PublicPage',

  components: {
    Public
  }
}
</script>
