<template>
  <section class="section">
    <profile />
  </section>
</template>

<script>
import Profile from '~/components/Profile'

export default {
  name: 'ProfilePage',
  middleware: ['authenticated'],
  components: {
    Profile
  }
}
</script>
