<template>
  <section class="section">
    <protected />
  </section>
</template>

<script>
import Protected from '~/components/Protected'

export default {
  name: 'ProtectedPage',
  middleware: ['authenticated'],
  components: {
    Protected
  }
}
</script>
