<template>
  <section>
    <div class="columns is-centered">
      <div class="box">
        <b-field label="Username">
          <b-input v-model="username"></b-input>
        </b-field>
        <b-field label="Confirmation code">
          <b-input v-model="code"></b-input>
        </b-field>
        <b-button type="is-success" expanded @click="confirmSignUp">Confirm</b-button>
      </div>
    </div>
  </section>
</template>

<script>
import { Auth } from 'aws-amplify'

export default {
  data () {
    return {
      username: null,
      code: null
    }
  },
  methods: {
    async confirmSignUp () {
      try {
        await Auth.confirmSignUp(this.username, this.code)
        this.$router.push('/profile')
      } catch (error) {
        this.$buefy.notification.open({
          message: 'Confirmation failed',
          position: 'is-top',
          type: 'is-danger',
          hasIcon: true
        })
      }
    }
  }
}
</script>
