<template>
  <section>
    <div class="columns is-centered">
      <div class="box">
        <b-field label="Username">
          <b-input v-model="username"></b-input>
        </b-field>
        <b-button type="is-success" expanded @click="forgotPassword">Reset password</b-button>
      </div>
    </div>
  </section>
</template>

<script>
import { Auth } from 'aws-amplify'

export default {
  data () {
    return {
      username: null
    }
  },
  methods: {
    async forgotPassword () {
      try {
        await Auth.forgotPassword(this.username)
        this.$router.push('/auth/forgotpasswordsubmit')
      } catch (error) {
        this.$buefy.notification.open({
          message: 'Password change request failed',
          position: 'is-top',
          type: 'is-danger',
          hasIcon: true
        })
      }
    }
  }
}
</script>
