<template>
  <section>
    <div class="columns is-centered">
      <div class="box">
        <b-field label="Username">
          <b-input v-model="username"></b-input>
        </b-field>
        <b-field label="Password">
          <b-input v-model="password" type="password"></b-input>
        </b-field>
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <nuxt-link to="/auth/signup">Sign Up</nuxt-link>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <nuxt-link to="/auth/forgotpassword">Password forgotten?</nuxt-link>
            </div>
          </div>
        </div>
        <b-button type="is-success" expanded @click="login">Login</b-button>
      </div>
    </div>
    <b-loading :is-full-page="true" v-model="isLoading" :can-cancel="true"></b-loading>
  </section>
</template>

<script>
import { Auth } from 'aws-amplify'

export default {
  data () {
    return {
      username: null,
      password: null,
      isLoading: false
    }
  },
  methods: {
    async login () {
      this.isLoading = true
      try {
        await Auth.signIn(this.username, this.password)
        this.$router.push('/profile')
      } catch (error) {
        this.$buefy.notification.open({
          message: 'Login failed: Wrong username & password combination',
          position: 'is-top',
          type: 'is-danger',
          hasIcon: true
        })
      }
      this.isLoading = false
    }
  }
}
</script>
