<template>
  <section>
    <div class="columns is-centered">
      <div class="box">
        <b-field label="Username">
          <b-input v-model="username"></b-input>
        </b-field>
        <b-field label="Password">
          <b-input v-model="password" type="password"></b-input>
        </b-field>
        <b-field label="Email">
          <b-input v-model="email" type="email"></b-input>
        </b-field>
        <div class="level">
          <div class="level-right">
            <div class="level-item">
              <nuxt-link to="/auth/login">Already registred?</nuxt-link>
            </div>
          </div>
        </div>
        <b-button type="is-success" expanded @click="signUp">Sign Up</b-button>
      </div>
    </div>
  </section>
</template>

<script>
import { Auth } from 'aws-amplify'

export default {
  data () {
    return {
      username: null,
      password: null,
      email: null
    }
  },
  methods: {
    async signUp () {
      try {
        await Auth.signUp({
          username: this.username,
          password: this.password,
          attributes: {
            email: this.email
          }
        })
        this.$router.push('/auth/confirmsignup')
      } catch (error) {
        this.$buefy.notification.open({
          message: 'Signup failed',
          position: 'is-top',
          type: 'is-danger',
          hasIcon: true
        })
      }
    }
  }
}
</script>
